:root {

  --slide: 0;
  --progress: 0;
  --inview: 1;

}

.slides {

  width: 100%;
  height: 100%;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
  /*  scrollbar-width: none; */

  &::-webkit-scrollbar {
    /* display: none; */
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }

  > section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: 0;
    overflow: hidden;
    scroll-snap-align: center;

    > * {
      user-select: none;
    }
  }

}
